<footer class="py-10 text-center">
    <p class="text-sm">
        Made with ❤️ by <a
            href="https://github.com/dcyar"
            class="text-blue-700 font-semibold"
            target="_blank">@dcyar</a
        >
    </p>
</footer>
