---
import SocialLinks from '../components/SocialLinks.astro';
---

<footer class="flex items-center justify-between py-4">
    <p class="text-xs font-mono">By <a href="https://github.com/dcyar"
            class="font-bold text-purple-700">@dcyar</a>
    </p>
    <SocialLinks />
</footer>
