---
import SocialLinks from '../components/SocialLinks.astro';
---

<footer class="flex items-center justify-between py-4">
    <p class="text-md font-mono dark:text-slate-200">By <a href="https://github.com/dcyar"
            class="font-bold text-purple-700 dark:text-purple-400">@dcyar</a>
    </p>
    <SocialLinks />
</footer>
