<header class="flex justify-between py-4 mt-6">
    <a href="/">
        <h1 class="text-xl font-bold underline">Jhon Achata</h1>
    </a>
    <nav>
        <ul class="flex justify-end space-x-4 font-bold">
            <!-- <li>
                <a href="/blog" class="text-sm {{ $page->selected('blog') }}">Blog</a>
            </li> -->
            <li>
                <a href="/about" class="text-sm {{ $page->selected('about') }}"
                    >Acerca</a
                >
            </li>
        </ul>
    </nav>
</header>
