---
import SocialLinks from "@components/SocialLinks.astro";
import menu from "@config/menu.json";

const { path } = Astro.props;
---
<aside class="space-y-2 mb-4 md:mb-0 md:fixed md:top-10">
    <div class="flex justify-between items-center">
        <a href="/" title="Home">
            {
                ['/', ...menu.main.map(menu => menu.url)].includes(path)
                    ? <h1 class="text-2xl font-extrabold font-mono text-slate-800 underline dark:text-indigo-200">Jhon Achata</h1>
                    : <p class="text-2xl font-extrabold font-mono text-slate-800 underline dark:text-indigo-200">Jhon Achata</p>
            }
        </a>
        <div class="flex justify-end items-center gap-x-4">
            <!-- <DarkModeToggle /> -->
            <button class="toggle md:hidden flex flex-col space-y-1" aria-label="Menu">
                <div class="bg-black dark:bg-slate-300 h-1 w-6 rounded-sm transition-all origin-left"></div>
                <div class="bg-black dark:bg-slate-300 h-1 w-6 rounded-sm transition-all origin-left"></div>
                <div class="bg-black dark:bg-slate-300 h-1 w-6 rounded-sm transition-all origin-left"></div>
            </button>
        </div>
    </div>
    <nav class="space-y-3 hidden md:block font-mono text-slate-800 tracking-wide dark:text-slate-200">
        <ul class="text-sm font-bold">
            {
                menu?.main.map(menu => (
                    <li class="py-2">
                        <a
                            href={menu.url}
                            class:list={[{'underline text-indigo-500': path.includes(menu.url)}]}
                            title={menu.name}
                        >{ menu.name }</a>
                    </li>
                ))
            }
        </ul>
        <SocialLinks />

        <!-- <DarkModeToggleTwo /> -->
    </nav>
</aside>

<script>
    document.querySelector('.toggle')?.addEventListener('click', () => {
        const menus = document.querySelectorAll('.toggle div');

        menus[0].classList.toggle('rotate-45');
        menus[1].classList.toggle('opacity-0');
        menus[2].classList.toggle('-rotate-45');

        document.querySelector('nav')?.classList.toggle('hidden');
    });

    // const html = document.documentElement;
    // const themeToggleButton = document.getElementsByClassName('theme-toggle');
    // const sunSvg = document.getElementById('sun');
    // const moonSvg = document.getElementById('moon');
    // const sunSvg2 = document.getElementById('sun-2');
    // const moonSvg2 = document.getElementById('moon-2');

    // let theme = localStorage.getItem('T_SITE_THEME') || 'light';
    // theme === 'light' ? setLightTheme() : setDarkTheme();

    // function setDarkTheme() {
    //     html.classList.add('dark');
    //     moonSvg.classList.add('hidden');
    //     sunSvg.classList.remove('hidden');
    //     moonSvg2.classList.add('hidden');
    //     sunSvg2.classList.remove('hidden');
    //     localStorage.setItem('T_SITE_THEME', 'dark');
    //     theme = 'dark';
    // }

    // function setLightTheme() {
    //     html.classList.remove('dark');
    //     moonSvg.classList.remove('hidden');
    //     sunSvg.classList.add('hidden');
    //     moonSvg2.classList.remove('hidden');
    //     sunSvg2.classList.add('hidden');
    //     localStorage.setItem('T_SITE_THEME', 'light');
    //     theme = 'light';
    // }

    // Array.from(themeToggleButton).forEach(element => {
    //     element.addEventListener('click', () => {
    //         theme === 'light' ? setDarkTheme() : setLightTheme();
    //     }); 
    // });
</script>