---
const { path } = Astro.props;
---

<header class="flex justify-between py-4 mt-6">
    <a href="/">
        <h1 class="text-xl font-bold">Jhon Achata</h1>
    </a>
    <nav>
        <ul class="flex justify-end space-x-4 font-bold">
            <!-- <li>
                <a href="/blog" class="text-sm {{ $page->selected('blog') }}">Blog</a>
            </li> -->
            <li>
                <a
                    href="/proyectos"
                    class:list={[
                        'text-sm',
                        {
                            'border-b-2 border-slate-800':
                                path.includes('proyectos'),
                        },
                    ]}>Proyectos</a
                >
            </li>
            <li>
                <a
                    href="/acerca"
                    class:list={[
                        'text-sm',
                        {
                            'border-b-2 border-slate-800':
                                path.includes('acerca'),
                        },
                    ]}>Acerca</a
                >
            </li>
        </ul>
    </nav>
</header>
