---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Jhon Achata">
    <section class="pb-2 flex text-3xl text-indigo-700 dark:text-purple-50 font-bold font-mono gap-x-1">
        # <h1 class="underline">Página no encontrada</h1>
    </section>
    <p class="flex flex-col prose max-w-none dark:text-gray-100">
        Seguro que estas en el lugar correcto?
    </p>
</Layout>
