---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout
    title="Jhon Achata — Acerca"
    description="Fullstack Developer con más de 3 años de experiencia, orientado a las buenas prácticas y al código limpio."
    path="/about"
>
    <div class="flex flex-col space-y-5 max-w-none">
        <!-- <h3 class="text-2xl font-semibold">Hi, I'm Jhon Achata</h3> -->
        <p class="leading-7">
            Fullstack Developer con más de 3 años de experiencia, orientado a
            las buenas prácticas y al código limpio. En mi experiencia me ha
            tocado desarrollar plataformas de e-learning y e-commerce, con hasta
            80 mil usuarios, donde he apoyado en la construcción de nuevos
            módulos (procesos de exámenes, sección de comentarios, paneles de
            administración, integración con API’s de terceros, reportes),
            integración de pasarelas de pago (paypal, culqi, hotmart),
            optimización de procesos y resolución de errores.
        </p>
        <p class="leading-7">
            Soy un estudiante eterno, autodidacta y me emociona probar
            tecnologías nuevas. Estoy en busca de nuevos retos donde pueda
            aportar y recibir conocimiento y así crecer tanto profesional como a
            nivel personal.
        </p>
        <p class="leading-7">Estemos en contacto.</p>
        <SocialLinks />
    </div>
</Layout>
